<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <!-- <rewrite>
      <rules>
        <rule name="VoterLookupRewrite" stopProcessing="true">
          <match url="^voterlookup(/.*)?$" />
          <action type="Rewrite" url="http://localhost:3001{R:1}" appendQueryString="true" />
        </rule>


      </rules>
    </rewrite> -->
    


    <!-- ARR proxy support -->
    <proxy>
      <reverseProxy enabled="true" />
    </proxy>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="http://dev.wilco.org" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, OPTIONS" />
        <add name="Access-Control-Allow-Headers" value="Content-Type, Authorization" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
